* {
  font-family: Arial, Helvetica, sans-serif;
  color: #474242;
  margin: 0;
  padding: 0;
  border-image: auto;
}

h1 {
  background-color: #4a90e2;
  color: white;
  text-align: center;
  border-bottom: 5px solid #2d6fa1;
  padding: 10px;
  ;
}

p {
  text-align: center;
  margin: 5px;
  font-size: medium;
}

a {
  text-decoration: none;
  background-color: #4a90e2;
  color: white;
  border: 2px solid #626c74;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: 15px;
}

a:hover {
  background-color: #2d6fa1;

}

img {
  width: 500px;
  border: 3px solid #626c74;
  border-radius: 10px;
  display: block;
  margin: 10px auto;}

  @media (max-width:600px) {
    img {
      width:
        80%;
    }
  }

  .center {
    display: flex;
    justify-content: center;
  }



  h2 {
    color: #07d307;
    text-decoration: underline;
    color: 2px solid #039303;
    text-align: center;
    margin: 15px;
    ;
  }

  a {
    text-align: center;
  }